/* .title {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: #2A77AE;
  margin-bottom: 20px;
} */

/* .title {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 50%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
} */
